html {
background: white;
}

.App {
    min-height: 100vh;
}
.header {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
  color: #554E52;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-bar {
  width: 40%;
  border: 1px solid #ffefc4;
  border-radius: 14px;
  padding: 20px;
  margin: 20px;
  background: #FFFAEA;
}

.search-button {
  background: #ffefc4;
  border: none;
  border-radius: 14px;
  padding: 14px;
  color: #554E52;
;
  font-size: 20px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}